<aside class="h-screen w-80 bg-background py-10 px-4 space-y-20">
  <button class="flex items-center gap-1 hover:bg-muted p-3 rounded-md w-full">
    <svg
      class="size-5"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg
    >
    Nueva conversaci贸n</button
  >

  <section class="space-y-4">
    <p class="text-sm text-muted-foreground">Conversaciones</p>

    <div class="flex flex-col gap-2">
      <button
        class="flex items-center gap-1 hover:bg-muted p-2 text-sm rounded-md w-full"
      >
        Conversaci贸n 1</button
      >
      <button
        class="flex items-center gap-1 hover:bg-muted p-2 text-sm rounded-md w-full"
      >
        Conversaci贸n 2</button
      >
      <button
        class="flex items-center gap-1 hover:bg-muted p-2 text-sm rounded-md w-full"
      >
        Conversaci贸n 3</button
      >
    </div>
  </section>
</aside>
